.garden-game-container{
    display: grid;
    grid-template-areas:
        'tool tool gard gard gard'
        'tool tool gard gard gard'
        'tool tool gard gard gard';
    grid-gap: 10px;
    background-color: #2196F3;
}